  <div class="container landing-page-bg">
    <!-- Page conteiner -->
    <div class="page-container">
      <div id="header">
          <div class="content-center">
            <div class="landing-page-logo"> </div>
          </div>
      </div>

      <div id="page-content" class="responsive-text">
        &nbsp;Every great journey starts with a single step.
        Break down your goals into achievable tasks, track your progress, and conquer your dreams, one step at a time.
        Climb Hicher, Achieve More
      </div>

    <% if user_signed_in? %>
      <% link_to goal_path %>
    <% else %>
      <div id="footer">
        <div class="content-center btn-space-arround">
          <a href="<%= new_user_session_path %>" class="cstm-btn green-btn">Log In</a>
        </div>
        <div class="content-center btn-space-arround">
          <a href="<%= new_user_registration_path %>" class="cstm-btn gray-btn">Sign Up</a>
        </div>
      </div>
    <% end %>

  </div>
  </div>
