/*Custom styles for MountainToDO project */
body {
  display: flex;
  justify-content: center;
}

.landing-page {
  background-image: url("landing_page.png");
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


/* Responsive design */
/* if device has a touch screen */
@media (any-pointer: coarse) {
  /* do your own styles */
  .container {
    width: 100%;
    height: 100vh;
  }
}

/* if device has no touch screen */
@media (any-pointer: fine) {
  /* do your own styles */
  .container {
    width: 393px;
    height: 852px;
    border: 1px solid gray; /* for testing pusrpose only */
  }
}
